.header {
    width: vw;
}

.img__header{
    max-width: 100%;
}

.app {
    background-color: #09343a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.resident__container{
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    gap: 0.8em;
}